* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: rgb(35, 35, 35);
  color: #1cdbfa;

  font-family: "JetBrains Mono", monospace;
  font-size: small;
}

/* ---------------------------------------------------------------------------------- */

/* Jetbrains Mono Font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Russo One */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Lexend (900) */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap");

/* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

/* Bebas Neue */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Press Start P2 */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Navigation Bar */
nav {
  display: flex;
  justify-content: flex-end;

  padding: 30px;

  background-color: rgb(35, 35, 35);
}

nav li {
  display: inline-block;

  margin-left: 50px;

  font-weight: lighter;
}

.resume {
  border: 2px solid #1cdbfa;
  border-radius: 7px;
  padding: 10px;
  margin-left: 43px;

  font-family: "JetBrains Mono", monospace;
  font-size: small;
}

.resume:hover {
  background-color: #1cdbfa;
  color: rgb(35, 35, 35);
}

.logo {
  border: 2px solid #1cdbfa;
  border-bottom: 5px solid #1cdbfa;
  padding-top: 4px;
  width: 50px;
  height: 50px;

  background-color: transparent;

  /* moves logo to far left */
  position: absolute;
  left: 0;

  /* Places M in center of Square */
  display: grid;
  place-content: center;

  margin-left: 28px;
}

.logo h1 {
  font-family: "Lexend", sans-serif;
  font-size: 38px;

  background-color: transparent;
}

/* click effect*/
.logo:hover {
  border: 2px solid #1cdbfa;
  border-bottom: 3px solid #1cdbfa;
}

.intro-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
  align-content: flex-start;
}

.intro {
  display: grid;
  grid-area: 1 / 1 / 4 / 2;
  padding: 100px 100px 100px 100px;
}

.intro p {
  font-size: large;
}

.want s {
  font-size: large;
  color: white;
}

.intro h1 {
  font-size: 80px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;

  font-family: "Bebas Neue", cursive;
}

.intro-hi p {
  margin-bottom: 27px;
}

.intro-name h1 {
  color: grey;
}

.intro-name-sub h1 {
  color: rgb(183, 183, 183);
  margin-bottom: 50px;
}

/* Blinking cursor animation */
.intro-name-sub h1::after {
  content: "";
  width: 5px;
  height: 58px;
  margin-left: 10px;
  background: #1cdbfa;
  display: inline-block;

  /* Blinking cursor animation */
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.intro-text p {
  color: white;
  font-weight: lighter;
}

/* ASCII donut gif */
.donut {
  grid-area: 1 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut img {
  width: 500px;

  display: grid;
  place-items: center;

  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;

  border-radius: 6px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* about me section */
.about-container{
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: repeat(1fr, 5);
  height: 500px;
  background-color: grey;

}

.about {
  grid-area: 1 / 2 / 4 / 3;
  background-color: grey;
}


/* TODO: Make social media side menu */
/* TODO: Turn intro into 2 grids with even padding and margins */
/* TODO: Remove down arrow icon */