* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: rgb(35, 35, 35);
    color: #1CDBFA;

    font-family: 'JetBrains Mono', monospace;
    font-size: small;
}

/* Jetbrains Mono Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


/* Navigation Bar */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 30px;
}

nav li {
    display: inline-block;

    margin-left: 50px;
}

.resume {
    border: 2px solid #1CDBFA;
    border-radius: 7px;
    padding: 10px;

    font-family: 'JetBrains Mono', monospace;
    font-size: small;
}

.resume:hover {
    background-color: #1CDBFA;
    color: rgb(35, 35, 35);
}
